/* .custom-navbar {
  background-color: #24292e; /* Dark background color */
  padding: 20px 0;
}

.custom-navbar .navbar-brand {
  color: #ffffff; /* Text color for brand */
  font-weight: bold; /* Bold font for brand */
}

.custom-navbar .nav-link {
  color: #ffffff; /* Text color for links */
  font-weight: bold; /* Bold font for links */
}

.custom-navbar .nav-link:hover {
  color: #ffc107; /* Text color on hover */
} */
